<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bignerdranch.android.runtracker"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:minSdkVersion="9" android:targetSdkVersion="15" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application android:label="@string/app_name"
        android:icon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        <activity android:name=".RunActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".LocationReceiver"
            exported="false">
            <intent-filter>
                <action android:name="com.bignerdranch.android.runtracker.ACTION_LOCATION"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>
